{% extends 'app/base.html' %}
{% load static %}


	
	{% block content %}
<body class="home">
    <h1>Cerebrovascular Accident Predictor (Cvap)</h1>
<br><br><br><br>
    <h4 style="padding-left: 40px;color: white;">This is a computational model which provides an easy-to-use interface for entering relevant data and 
        receiving  the predictions about 
    </h4>
<h4>
    one's likelihood of having a stroke 
        and helps to classify the type of stroke.
        This model also provides a Personalized 
        treatment plan for the patients.
        </h4>
</body>

{% endblock content %}
</html>